/* 4 - External */

body{
    padding-bottom: 500px;
}

h3{
    color:green;
}

/* p{
    color:blueviolet;
} */

/*CLASSES */

.paragraph{
    background-color: black;
    color:red;
    padding: 5px;
}

/* List-Style */
ul li {
    list-style-type: disc;
    list-style-position: inside;
}

ol li{
    list-style-type: lower-alpha;
    list-style: decimal;
}

/*IDs*/
#exclusive-title{
    background-color: purple;
    color:yellow;
    padding: 10px;
}

/*Ordem das regras*/

h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-título{
    border-bottom: 4px solid green;
}

/*Nome de cores*/
.color-name{
    color:crimson;
}

/* HEX */

.hex{
    color: #55a398;
}

/*aprofundando em hex*/

.simple-hex{
    color:#123; /*112233*/
}

.simple-hex2{
    color:#333; /*333333*/
}


.simple-hex2{
    color:#af5; /*aaff55*/
}

/* RGB */

.rgb{
    color:rgb(255,0,0);
}

.mixed-rgb{
    color:rgb(199,21,47);
}

/* RGBa*/

.rgba{
    color:rgba(100,199,45, 0.3);
}

/* HSL */

.hsl{
    color: hsl(100, 20%, 50%);
}

.hsl2{
    color: hsl(201, 44%, 19%);
}

/* BG*/

.bg{
    background-color: #000;
    color: yellow;
}

.bg-2{
    background-color: rgb(255,0,0);
    color:#123;
}

/* Background opacity*/
.bg-opacity{
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2{
    background-color: gray;
    color: black;
    opacity: 0.8;
}

/* RGBa com opacidade  */
.rgba-opacity{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* Imagem no BG */
.bg-image{
    background-image: url("./img/660461.jpg");
    padding: 10px;
    color: #fff;
}

/* Centralizando bg image */
.not-centered-bg,
.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url("./img/download.jpg");
}

.centered-bg{
    background-position: center;
    background-size: cover;
}

/* Largura e altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: gray;
}

/* Padding */
.without-padding,
.padding {
    background-color: #111;
    color: #fff
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding individual */
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding{
    background-color: #444;
    /*       top right bottom left    */
    padding: 6px 12px 18px 24px 
}

.shorthand-padding-2{
    background-color: #555;
    padding: 10px 20px;
    /*       10px 20px 10px 20px */
}

/* Padding com width */

.without-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #676;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border{
    border: 5px solid red;
    padding: 10px;
}

.border-2{
    border: 2px dotted #931;
    padding: 25px;
}

/* Borda individual */
.border-left{
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom{
    border-bottom: 5px double #339;
    background-color: #222;
    padding: 20px;
}

/* Borda arrednondada */
.rounded-p{
    border: 4px solid blue;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 25px;
}

/* Margem */
.margin{
    margin: 10px;
    background-color: #222;
}

.margin-top{
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand{
    background-color: #777;
    margin: 5px 10px 15px 20px;
}

/* Box Model */
.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 300px;
}

/* text Align */
.text-aligned{
    text-align: right;
}

.container-center{
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* text decoration */
.underline{
    text-decoration: underline;
}

.line-trough{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: red;
}

/* text transform */
.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

/* Letter-spaccing */
.spacing{
    letter-spacing: 5px;
}

/* Fontes */
.serif{
    font-family: Georgia;
}

.sans-serif{
    font-family: Helvetica;
}

.monospace{
    font-family: "Courier New";
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/* Text style */
.italic{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

/* font weight */
.thin, .bold, .bolder{
    font-family: Helvetica;
}

.thin{
    font-weight: 100;
}

.bold{
    font-weight: 600;
}

.bolder{
    font-weight: 900;
}

/* Font size */
.small{
    font-size: 6px;
}

.big{
    font-size: 78px;
}

/* Display */
.inline-box{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block{
    background-color: #333;
    display: 10px;
}

/* Escondendo elementos */
.invisible{
    display: none;
}

/* Posições dos elementos */
/* static */
.static{
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
}

/* Relative */
.relative{
    position: relative;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

/* absolute */
.absolute{
    position: absolute;
    background-color: #964;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

/* Relative com absolute */
.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute, .absolute2{
    width: 50px;
    height: 50px;
    background-color: #422;
    position: absolute;  
}

.absolute{
    top: 10px;
    left: 10px;
}

.absolute2{
    bottom: 10px;
    right: 10px;
}

/* Fixed */
.fixed{
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    position: fixed;
    top: 50px;
    right: 100px;
}

/* Sticky */
.sticky{
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 1px solid green;
    position: sticky;
    top: 10px;
}

/* Z Index */
.absolute3, 
.absolute4, 
.absolute5{
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;  
}

.absolute3{
    top: 0;
    left: 0;
    z-index: 3;
}

.absolute4{
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 20;
}

.absolute5{
    top: 40px;
    left: 40px;
    background-color: #453;
    z-index: 1;
}