html {
  font-family: Helvetica;
  background-color: black;
}

.subtitulos{
  color: #b80d0d;
  -webkit-text-stroke: 1px #000;
  text-shadow: 1px 1px 0 #000;
}

.container {
  max-width: 1100px;
  background-color: #fff;
  position: relative;
  margin: 50px auto;
  padding: 20px 50px;
}

.bold {
  font-weight: bold;
}

/* header */
.header {
  text-align: center;
}

.main-title {
  font-size: 40px;
  color: #b80d0d;
  -webkit-text-stroke: 2px #000;
  text-shadow: 2px 2px 0 #000; 
}

.main-paragraph {
  font-style: italic;
  color: #6f6e6e;
}

/* Imagem destaque */
.featured-image {
  text-align: center;
  margin-top: 30px;
}

/* Biografia */
.biography-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

/* Quotes */
.quotes-container {
  background: #1b1b1b;     /* cinza bem escuro (carvão) */
  color: #f2f2f2;          /* texto claro */
  border-left: 6px solid #b80d0d;  /* detalhe vermelho */
  padding: 30px;
  border-radius: 6px;
}

.quotes-container blockquote {
  font-weight: bold;
  font-size: 30px;
}

.quotes-container p {
  font-style: italic;
}

/* Curiosidades */
.curiosities-container {
  padding: 25px 0;
  margin: 25px 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
  height: 30px;
}

/* Imagem bold */
.img-bold {
  font-weight: bold;
  text-align: center;
}