/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #fafafa;
}

#main-container {
  display: flex;
  margin-top: 30px;
}

#banner-container,
#;
